.catalog_wrapper {
    padding: 120px 60px 0;
    position: relative;
    display: flex;
    justify-content: center;
    .items_wrapper { 
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 30px;
        max-width: 100%;
        position: absolute;
        z-index: 50;
        @media  (max-width: $breakpoint-lg-max) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 20px;
        }
        @media  (max-width: $breakpoint-sm-min) {
            gap: 10px;
        }
        .item {
            display: flex;
            flex-direction: column;
            width: 400px;
            margin-bottom: 100px;
            position: relative;
            background: #fff;
            padding: 10px;
            border-radius: 0 0 10px 10px;
            @media  (max-width: $breakpoint-lg-min) {
                width: 300px;
            }
            @media  (max-width: $breakpoint-md-min) {
                width: 200px;
                margin-bottom: 40px;
            }
            @media  (max-width: $breakpoint-sm-min) {
                width: 200px;
                margin-bottom: 30px;
            }
            @media  (max-width: $breakpoint-xs-min) {
                width: 170px;
                margin-bottom: 25px;
            }
            .favorite {
                top: 20px;
                right: 20px;
                position: absolute;
                cursor: pointer;
                transition: .2s;
                &:hover {
                    transform: scale(1.15);
                    transition: .2s;
                }
                @media  (max-width: $breakpoint-sm-min) {
                    width: 20px;
                    height: 20px;
                    top: 15px;
                    right: 15px;
                }
            }
            &_img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                margin-bottom: 15px;
                // border-radius: 10px;
            }
            &_name {
                
                font-size: 20px;
                margin-bottom: 10px;
                @media  (max-width: $breakpoint-md-min) {
                    font-size: 14px;
                }
            }
            &_buy {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 20px;
                @media  (max-width: $breakpoint-md-min) {
                    font-size: 14px;
                }

                &-btn {
                    width: 140px;
                    height: 40px;
                    background: #fff;
                    // border-radius: 10px;
                    border: 2px solid #ff431d;
                    text-transform: uppercase;
                    color: #ff431d;
                    outline:none;
                    // border: none;
                    cursor: pointer;
                    transition: .2s;
                    &:hover {
                        // opacity: .8;
                        background: #ff431d;
                        color: #fff;
                        transition: .2s;
                    }
                    @media  (max-width: $breakpoint-md-min) {
                        font-size: 10px;
                        width: 80px;
                        height: 25px;
                    }
                }
            }
        }
    }
    
}