.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    height: 80px;
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(120px);
    padding: 0 60px;
    z-index: 2000;
    color: #000;
    border-bottom: 1px solid rgba(233, 232, 232, 0.15);
    @media  (max-width: $breakpoint-xl-min) {
        padding: 0 20px;
    }
    @media  (max-width: $breakpoint-lg-min) {
        padding: 0 150px 0 60px;
    }
    @media  (max-width: $breakpoint-md-min) {
        padding: 0 100px 0 20px;
        height: 70px;
    }
    @media  (max-width: $breakpoint-sm-min) {
        padding: 0 80px 0 20px;
    }
    .logo {
        z-index: 1000;
        width: 140px;
        @media  (max-width: $breakpoint-lg-min) {
            width: 120px;
        }
        svg {
            width: 100%;
        }
    }

    .nav_icons {
        display: flex;
        margin-left: 50px;
        // width: 160px;
        @media  (max-width: $breakpoint-lg-min) {
            width: auto;
            margin-left: auto;
        }

        

        div {
            position: relative;
            .checkout {
                left: -7px;
                top: -2px;
                position: absolute;
                width: 7px;
                height: 7px;
                background: #FF3C00;
                border-radius: 100%;
            }
            .cart_counter {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                
            }
            img {
                width: 25px;
            }
            .fav {
                margin-right: 30px;
                height: 29px;
                @media  (max-width: $breakpoint-sm-min) {
                    margin-right: 20px;
                }
            }
        }
        
    }
}


$navWidth: 100vw;
$hamburgerSize: 60px;

.nav {
    display: flex;
    font-family: 'Jost';
    margin-left: auto;
    @media  (max-width: $breakpoint-lg-min) {
        display: none;
    }
    ul {
        display: flex;

        .li_item {
            @include list-null();
            font-size: 16px;
            margin-left: 30px;
            
            font-weight: 300;
            cursor: pointer;
            @media  (max-width: $breakpoint-xl-min) {
                margin-left: 20px;
            }
            a {
                color: #000;
                text-decoration: none;
                text-transform: uppercase;
            }
            .li_line {
                height: .5px;
                width: 0%;
                background: #FF3C00;
                opacity: 1;
            }
            &:hover .li_line{
                animation: lines .8s;
            }
        }
        .catalog {
            position: relative;
        } 

        .prom {
            color: #FF3C00;
        }
    }

    
}

.sub_menu {
    padding: 20px 50px;
    bottom: -200px;
    left: 40%;
    transform: translateX(-40%);
    position: absolute;
    min-width: 350px;            
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(200px);
    display: flex;
    border-radius: 8px;
    justify-content: center;
    div {
        display: flex;
        flex-direction: column;
        margin-right: 70px;
        &:last-child {
            margin-right: 0;
        }
        li {
            list-style-type: none;
            margin-bottom: 20px;
            white-space: nowrap;
            // text-transform: capitalize;
        }
    }
    
}

.navigation {
    display: none;
    font-family: 'Jost';
    // display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width: $navWidth;
    height: 100vh;
    background: rgba(255, 255, 255, 1);
    backdrop-filter: blur(120px);
    
    clip-path: circle(29px at calc(#{$navWidth} - 20px - #{$hamburgerSize / 2}) calc(20px + #{$hamburgerSize / 2}));
    transition: all .8s cubic-bezier(0.86, 0, 0.07, 1);
    opacity: 0;
    z-index: 200;
    @media  (max-width: $breakpoint-lg-min) {
        display: flex;
    }

    &.active {
        clip-path: circle(100%);
        opacity: 1;
    }
    .prom {
        color: #F45626;
    }
    &__link {
    display: block;
    font-size: 22px;
    text-align: start;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #1C1A1A;
    text-decoration: none;
    transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    opacity: 0;
    transform: translateY(50%);
    
    &:hover {
        text-decoration: underline;
    }
    
    // @for $i from 1 through 7 {
    //     &:nth-child(#{$i}) {
    //     transition-delay: $i * 0.2s;
    //     }
    // }
    
    &.active {
        opacity: 1;
    }
    }   
}

.hamburger {
    display: none;
    $p: &;
    width: $hamburgerSize;
    height: $hamburgerSize;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    z-index: 10;
    top: 20px;
    right: 60px;
    z-index: 1000;
    // background: rgba(255, 255, 255, 0.95);
    // backdrop-filter: blur(120px);
    @media  (max-width: $breakpoint-lg-min) {
        display: block;
        top: 7px;
    }
    @media  (max-width: $breakpoint-md-min) {
        right: 20px;
        top: 2px;
        
    }
    @media  (max-width: $breakpoint-sm-min) {
        right: 2px;
    }
  
    &__patty {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 1px;
        width: 70%;
        background-clip: padding-box;
        background: darken(#1C1A1A, 3);
        transition: all .8s cubic-bezier(0.86, 0, 0.07, 1);
        
    z-index: 1000;
        &:nth-child(1) {
            transform: translate(-50%, calc(-50% - 8px));
        }
        &:nth-child(2) {
            width: 60%;
        }

        &:last-child {
            transform: translate(-50%, calc(-50% + 8px));
        }
    }   
  
  &.active {
    
    #{$p}__patty {
      background: #F45626;
      
      &:nth-child(1) {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      
      &:nth-child(2) {
        transform: translateX(-50px);
        opacity: 0;
      }
      
      &:nth-child(3) {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}