.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background: #fff;
    padding: 0 60px;
    z-index: 10000;
    border-bottom: 1px solid #000;
    @media  (max-width: $breakpoint-xl-min) {
        padding: 0 20px;
    }
    @media  (max-width: $breakpoint-lg-min) {
        padding: 0 150px 0 60px;
    }
    @media  (max-width: $breakpoint-md-min) {
        padding: 0 100px 0 20px;
        height: 80px;
    }
    @media  (max-width: $breakpoint-sm-min) {
        padding: 0 80px 0 20px;
    }
    .logo {
        z-index: 1000;
        width: 120px;
        img {
            width: 100%;
        }
    }

    .nav_icons {
        display: flex;
        img {
            width: 25px;
        }
        .fav {
            margin-right: 30px;
            @media  (max-width: $breakpoint-sm-min) {
                margin-right: 20px;
            }
        }
    }
}


$navWidth: 100vw;
$hamburgerSize: 60px;

.nav {
    display: flex;
    font-family: 'Monterchi';
    @media  (max-width: $breakpoint-lg-min) {
        display: none;
    }
    ul {
        display: flex;

        li {
            @include list-null();
            font-size: 22px;
            text-transform: uppercase;
            margin-left: 30px;
            color: #1C1A1A;
            @media  (max-width: $breakpoint-xl-min) {
                margin-left: 20px;
            }
            div {
                height: 1px;
                width: 100%;
                background: #ff431d;
                opacity: 0;
            }
        }
        .prom {
            color: #ff431d;
        }
    }

    
}

.navigation {
    display: none;
    font-family: 'Monterchi';
    // display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width: $navWidth;
    height: 100%;
    background: #ffffff;
    clip-path: circle(29px at calc(#{$navWidth} - 20px - #{$hamburgerSize / 2}) calc(20px + #{$hamburgerSize / 2}));
    transition: all .8s cubic-bezier(0.86, 0, 0.07, 1);
    @media  (max-width: $breakpoint-lg-min) {
        display: flex;
    }

    &.active {
        clip-path: circle(100%);
    }
    .prom {
        color: #ff431d;
    }
    &__link {
    display: block;
    font-size: 22px;
    text-align: start;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #1C1A1A;
    text-decoration: none;
    transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    opacity: 0;
    transform: translateY(50%);
    
    &:hover {
        text-decoration: underline;
    }
    
    @for $i from 1 through 7 {
        &:nth-child(#{$i}) {
        transition-delay: $i * 0.2s;
        }
    }
    
    &.active {
        opacity: 1;
        transform: translateY(0);
    }
    }   
}

.hamburger {
    display: none;
    $p: &;
    width: $hamburgerSize;
    height: $hamburgerSize;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    z-index: 10;
    top: 20px;
    right: 60px;
    background: #ffffff;
    @media  (max-width: $breakpoint-lg-min) {
        display: block;
    }
    @media  (max-width: $breakpoint-md-min) {
        right: 20px;
        top: 10px;
    }
    @media  (max-width: $breakpoint-sm-min) {
        right: 2px;
    }
  
    &__patty {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 1px;
        width: 70%;
        background-clip: padding-box;
        background: darken(#1C1A1A, 3);
        transition: all .8s cubic-bezier(0.86, 0, 0.07, 1);
        
        &:nth-child(1) {
            transform: translate(-50%, calc(-50% - 8px));
        }
        &:nth-child(2) {
            width: 60%;
        }

        &:last-child {
            transform: translate(-50%, calc(-50% + 8px));
        }
    }   
  
  &.active {
    
    #{$p}__patty {
      background: #ff431d;
      
      &:nth-child(1) {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      
      &:nth-child(2) {
        transform: translateX(-50px);
        opacity: 0;
      }
      
      &:nth-child(3) {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}