#root-index {
    background: #F8F8F8;
    font-family: 'Inter', sans-serif;
}
/* header */
.header {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    padding: 20px 50px;
    display: flex;
    /* align-items: center; */
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.005em;
    position: fixed;
    width: 100%;
    .logo svg path {
        fill: #1C1A1A;
    }
    .nav {
        display: flex;
        margin-left: auto;
        align-items: flex-start;
        padding-top: 24px;
    }
    a {
        color: #1C1A1A;
        text-decoration: none;
    }
    ul li {
        list-style-type: none;
    }
    .men {
        margin-right: 190px;
    }
    .p_1 {
        margin-right: 68px;
    }
    .p_2 {
        margin-right: 220px;
    }
    .prom a {
        display: block;
    }
}

/* header */

// arrow
.index-arr {
    display: flex;
    font-weight: 300;
    text-transform: uppercase;
    align-items: center;
    &:hover img{
        margin-left: 30px;
        transition: .3s;
    }
    
    span {
        padding: 0;
        margin: 0;
        
    }
    img {
        padding: 0;
        margin: 0;
        margin-left: 10px;
        transition: .3s;
        @media  (max-width: $breakpoint-sm-min) {
            width: 35px;
        }
    }
    @media  (max-width: $breakpoint-sm-min) {
        font-size: 14px;
    }
}
// arrow

.sm_title {
    font-weight: 300;
    font-size: 18px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    @media  (max-width: $breakpoint-lg-min) {
        font-size: 16px;
    }
    @media  (max-width: $breakpoint-sm-min) {
        font-size: 14px;
    }
}

.index_section {
    &-one {
        padding: 140px 50px 0;
        position: relative;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        
        @media  (max-width: $breakpoint-xl-min) {
            padding: 120px 20px 0;
        }
        @media  (max-width: $breakpoint-lg-min) {
            flex-direction: column;
            align-items: flex-start;
        }
        .h1 {
            font-family: "Monterchi";
            font-weight: 400;
            font-size: 82px;
            letter-spacing: -0.005em;
            color: #1C1A1A;
            @media  (max-width: $breakpoint-xxl-min) {
                font-size: 64px;
            }
            @media  (max-width: $breakpoint-xl-min) {
                font-size: 48px;
            }
            @media  (max-width: $breakpoint-sm-min) {
                font-size: 38px;
            }
            // clip-path: polygon(0 68%, 97% 66%, 100% 100%, 0 100%);
        }
        .h1 div {
            transform: translate(400px, -30px);
            @media  (max-width: $breakpoint-xxl-min) {
                transform: translate(270px, -20px);
            }
            @media  (max-width: $breakpoint-xl-min) {
                transform: translate(204px, -15px);
            }
            @media  (max-width: $breakpoint-md-min) {
                transform: translate(204px, -15px);
                max-width: 200px;
            }
            @media  (max-width: $breakpoint-sm-min) {
                transform: translate(0, -15px);
                // max-width: 200px;
            }
            
        }
        .arr {
            position: absolute;
            left: 50px;
            bottom: 7px;
            @media  (max-width: $breakpoint-xl-min) {
                left: 20px;
                bottom: 0;
            }
            @media  (max-width: $breakpoint-md-min) {
                right: 20px;
                bottom: -50px;
                left: auto;
            }
        }
        .img_index {
            width: 592px;
            height: 662px;
            overflow: hidden;
            @media  (max-width: $breakpoint-xl-min) {
                width: 480px;
                height: 590px;
            }
            @media  (max-width: $breakpoint-lg-min) {
                margin-left: auto;
            }
            @media  (max-width: $breakpoint-sm-min) {
                width: 87%;
                height: 470px;
            }
            @media  (max-width: $breakpoint-xs-min) {
                width: 100%;
            }
            
            img {
                width: 100%;
                height: 0;
                object-fit: cover;
                opacity: 0;
                transform: scale(1.3);

            }
        }
    }

    &-two {
        // min-height: 100vh;
        padding: 280px 50px 0;
        @media  (max-width: $breakpoint-xl-min) {
            padding: 280px 20px 0;
        }
        @media  (max-width: $breakpoint-lg-min) {
            padding: 220px 20px 0;
        }
        @media  (max-width: $breakpoint-md-min) {
            padding: 240px 20px 0;
        }
        .text {
            
            width: 360px;
            margin-left: 120px;
            margin-top: 20px;
            font-weight: 300;
            @media  (max-width: $breakpoint-xl-min) {
                margin-left: 50px;
            }
            @media  (max-width: $breakpoint-md-min) {
                margin-left: 0;
            }
        }
        .sm_title {
            margin-left: 15px;
        }
        .text div {
            font-family: "Monterchi";
            text-transform: uppercase;
            font-weight: 300;
            font-size: 36px;
            letter-spacing: -0.005em;
            margin-bottom: 25px;
            @media  (max-width: $breakpoint-md-min) {
                font-size: 28px;
                margin-bottom: 15px;
            }
        }
        .text p {
            margin-bottom: 10px;
            font-family: 'Jost';
            font-weight: 300;
            font-size: 18px;
            letter-spacing: -0.008em;
            line-height: 99%;
            @media  (max-width: $breakpoint-md-min) {
                font-size: 14px;
                letter-spacing: -0.005em;
            }
        }
        .tt {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            text-transform: uppercase;
            font-weight: 30;
            text-align: right;
            width: 100%;
            @media  (max-width: $breakpoint-md-min) {
                flex-direction: column-reverse;
                align-items: flex-end;
            }
            .sm_title {
                @media  (max-width: $breakpoint-md-min) {
                    margin-bottom: 20px;
                }
            }
            .img_cont {
                width: 1155px;
                height: 608px;
                @media  (max-width: $breakpoint-xxl-min) {
                    width: 980px;
                    height: 520px;
                }
                @media  (max-width: $breakpoint-xl-min) {
                    width: 800px;
                    height: 420px;
                }
                @media  (max-width: $breakpoint-lg-min) {
                    width: 720px;
                    height: 290px;
                }
                @media  (max-width: $breakpoint-md-min) {
                    width: 100%;
                    height: 340px;
                }
                @media  (max-width: $breakpoint-sm-min) {
                    height: 260px;
                }
                @media  (max-width: $breakpoint-xs-min) {
                    height: 190px;
                }
                img {
                    width: 0;
                    height: 100%;
                    object-fit: cover;
                    opacity: 0;
                    // transform: scale(0.3);
                }
            }
        }
    }
    
    &-three {
        padding: 280px 50px 0;
        @media  (max-width: $breakpoint-xl-min) {
            padding: 280px 50px 0;
        }
        @media  (max-width: $breakpoint-lg-min) {
            padding: 220px 20px 0;
        }
        .sm_title {
            margin-left: 120px;
            margin-bottom: 80px;
            @media  (max-width: $breakpoint-sm-min) {
                margin-left: 0;
                margin-bottom: 20px;
            }
        }

        .prod_wr {
            display: flex;
            flex-direction: column;
            align-items: center;
            .prod_cont {
                display: flex;
                align-items: center;
                @media  (max-width: $breakpoint-sm-min) {
                    // flex-direction: column;
                    width: 100%;
                    align-items: center;
                }
                .it {
                    display: flex;
                    flex-direction: column;
                    @media  (max-width: $breakpoint-sm-min) {
                        width: 55%;
                    }
                    @media  (max-width: $breakpoint-xs-min) {
                        width: 50%;
                    }
                    &:first-child {
                        margin-right: 146px;
                        @media  (max-width: $breakpoint-xl-min) {
                            margin-right: 50px;
                        }
                        @media  (max-width: $breakpoint-lg-min) {
                            margin-right: 50px;
                        }
                        @media  (max-width: $breakpoint-md-min) {
                            margin-right: 20px;
                        }
                        @media  (max-width: $breakpoint-sm-min) {
                            margin-right: auto;
                        }
                        @media  (max-width: $breakpoint-sm-min) {
                            // margin-bottom: 63px;
                            width: 40%;
                        }
                        @media  (max-width: $breakpoint-xs-min) {
                            width: 45%;
                        }
                    }
                    .img_cont {
                        margin-bottom: 15px;
                        @media  (max-width: $breakpoint-sm-min) {
                            margin-bottom: 10px;
                        }
                        .scroll_bestsl-img {
                            //
                        }
                        &-s {
                            width: 444px;
                            height: 556px;
                            @media  (max-width: $breakpoint-xl-min) {
                                width: 390px;
                                height: 520px;
                            }
                            @media  (max-width: $breakpoint-lg-min) {
                                width: 270px;
                                height: 370px;
                            }
                            @media  (max-width: $breakpoint-md-min) {
                                width: 220px;
                                height: 330px;
                            }
                            @media  (max-width: $breakpoint-sm-min) {
                                width: 100%;
                                height: 260px;
                            }
                            @media  (max-width: $breakpoint-xs-min) {
                                height: 225px;
                            }
                        }
                        &-l {
                            width: 563px;
                            height: 862px;
                            @media  (max-width: $breakpoint-xl-min) {
                                width: 500px;
                                height: 780px;
                            }
                            @media  (max-width: $breakpoint-lg-min) {
                                width: 370px;
                                height: 580px;
                            }
                            @media  (max-width: $breakpoint-md-min) {
                                width: 300px;
                                height: 460px;
                            }
                            @media  (max-width: $breakpoint-sm-min) {
                                width: 100%;
                                height: 400px;
                            }
                            @media  (max-width: $breakpoint-xs-min) {
                                height: 300px;
                            }
                        }
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .inf {
                        font-family: 'Jost';
                        font-size: 14px;
                        font-weight: 300;
                        border-top: 1px solid $black-color;
                        color:$black-color;
                        padding-top: 10px;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        @media  (max-width: $breakpoint-sm-min) {
                            font-size: 12px;
                            flex-direction: column;
                            align-items: flex-start;
                            padding-top: 5px;
                        }
                        
                    }
                }
            }
            &-tw {
                .prod_cont {
                    margin-top: 130px;
                    flex-direction: row-reverse;
                    @media  (max-width: $breakpoint-sm-min) {
                        // flex-direction: column;
                        // align-items: center;
                        margin-top: 90px;
                        width: 100%;
                        // justify-content: space-between;
                    }
                    .it {
                        &:first-child {
                            margin-right: 0;
                            width: 40%;
                            margin-left: auto;
                            @media  (max-width: $breakpoint-xs-min) {
                                width: 45%;
                            }
                        }
                        &:last-child {
                            margin-right: 146px;
                            @media  (max-width: $breakpoint-xl-min) {
                                margin-right: 50px;
                            }
                            @media  (max-width: $breakpoint-lg-min) {
                                margin-right: 50px;
                            }
                            @media  (max-width: $breakpoint-md-min) {
                                margin-right: 20px;
                            }
                            @media  (max-width: $breakpoint-sm-min) {
                                margin-left: 0;
                                margin-right: 0;
                                width: 55%;
                            }
                            @media  (max-width: $breakpoint-xs-min) {
                                margin-left: 0;
                                margin-right: 0;
                                width: 50%;
                            }
                        }
                    }
                }
            }
        }
    }

    &-four {
        padding: 280px 50px 0;
        @media  (max-width: $breakpoint-xl-min) {
            padding: 280px 20px 0;
        }
        @media  (max-width: $breakpoint-lg-min) {
            padding: 220px 20px 0;
        }
        .sm_title {
            margin-left: 300px;
            @media  (max-width: $breakpoint-md-min) {
                margin-left: 0;
            }
        }
        .sub_t {
            display: flex;
            justify-content: center;
            @media  (max-width: $breakpoint-md-min) {
                margin-top: 60px;
            }
            @media  (max-width: $breakpoint-sm-min) {
                justify-content: space-between;
            }
            .sub_slider {
                .img_cont {
                    width: 220px;
                    height: 290px;
                    @media  (max-width: $breakpoint-sm-min) {
                        width: 160px;
                        height: 240px;
                    }
                    .scroll_img_nwltr {
                        width: 100%;
                        height: 100%;
                        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
                        opacity: 0;
                        object-fit: cover;
                    }
                }
                .inf {
                    margin-top: 7px;
                    font-size: 14px;
                    font-weight: 100;
                    letter-spacing: -0.035em;
                    text-transform: uppercase;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .sub_btn {
                        cursor: pointer;
                    }
                    .sub_count {
                        display: flex;
                        align-items: center;
                        .divider {
                            margin: 0 6px;
                            height: 1px;
                            width: 20px;
                            background: $black-color;
                        }
                    }
                }
                
            }
            
            .sub_title {
                margin-top: 170px;
                width: 340px;
                margin-right: 180px;
                @media  (max-width: $breakpoint-md-min) {
                    margin-right: 30px;
                }
                @media  (max-width: $breakpoint-sm-min) {
                    margin-top: 40px;
                }
                p {
                    color: $black-color;
                    font-size: 36px;
                    line-height: 85.5%;
                    letter-spacing: -0.035em;
                    margin-bottom: 20px;
                    @media  (max-width: $breakpoint-md-min) {
                        font-size: 28px;
                        line-height: 88%;
                    }
                    @media  (max-width: $breakpoint-sm-min) {
                        font-size: 16px;
                    }
                    
                }
            }
        }
        .sub_b {
            font-family: 'Jost';
            font-weight: 300;
            font-size: 18px;
            letter-spacing: -0.008em;
            margin-top: 100px;
            width: 360px;
            line-height: 99%;
            margin-left: auto;
            margin-right: 360px;
            @media  (max-width: $breakpoint-md-min) {
                width: 70%;
                margin-right: auto;
            }
            @media  (max-width: $breakpoint-sm-min) {
                margin-top: 70px;
                margin-left: 0;
                font-size: 14px;
            }
        }
        
    }

    &-five {
        padding: 200px 0 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .sm_title {
            margin-bottom: 30px;
            @media  (max-width: $breakpoint-xs-min) {
                margin-bottom: 20px;
            }
        }
        .faq_it-wr {
            width: 100%;
        }
        .faq_it {
            &:first-child {
                border-top: 1px solid $black-color;
            }
            width: 100%;
            padding: 20px 50px 17px;
            
            border-bottom: 1px solid $black-color;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media  (max-width: $breakpoint-lg-min) {
                padding: 20px 20px 17px;
            }
            @media  (max-width: $breakpoint-xs-min) {
                flex-direction: column;
                align-items: flex-start;
                padding: 10px 20px 10px;
            }
            .rg {
                @media  (max-width: $breakpoint-xs-min) {
                    margin-top: 15px;
                }
            }
            .lf {
                .tit {
                    font-size: 24px;
                    font-weight: 400;
                    text-transform: uppercase;
                    letter-spacing: -0.035em;
                    margin-bottom: 13px;
                    @media  (max-width: $breakpoint-sm-min) {
                        font-size: 18px;
                        letter-spacing: -0.005em;
                    }
                }
                .desc {
                    max-width: 450px;
                    font-family: 'Jost';
                    font-weight: 300;
                    font-size: 18px;
                    letter-spacing: -0.008em;
                    line-height: 99%;
                    @media  (max-width: $breakpoint-md-min) {
                        font-size: 14px;
                    }
                    @media  (max-width: $breakpoint-sm-min) {
                        max-width: 320px;
                    }
                    @media  (max-width: $breakpoint-xs-min) {
                        max-width: 100%;
                        width: 100%;
                    }
                }
            }
            
        }
    }

    &-six {
        padding: 280px 50px 20px;
        @media  (max-width: $breakpoint-xl-min) {
            padding: 280px 20px 0;
        }
        @media  (max-width: $breakpoint-lg-min) {
            padding: 220px 20px 0;
        }
        @media  (max-width: $breakpoint-md-min) {
            padding: 180px 20px 0;
        }
        .sm_title {
            margin-bottom: 36px;
            @media  (max-width: $breakpoint-sm-min) {
                margin-bottom: 20px;
            }
        }
        .sert_t {
            margin-bottom: 15px;
            font-size: 16px;
            // text-transform: uppercase;
            color: $gray-color;
            font-weight: 300;
            margin-left: auto;
            @media  (max-width: $breakpoint-md-min) {
                font-size: 14px;
            }
        }
        .sert_b {
            margin-top: 15px;
            font-size: 16px;
            // text-transform: uppercase;
            color: $gray-color;
            font-weight: 300;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media  (max-width: $breakpoint-md-min) {
                font-size: 14px;
                flex-direction: column;
                align-items: flex-start;
            }
            .index-arr {
                color: $gray-color;
                @media  (max-width: $breakpoint-md-min) {
                    margin-top: 20px;
                }
                &:hover svg{
                    margin-left: 30px;
                    transition: .3s;
                }
                svg {
                    margin-left: 10px;
                    transition: .3s;
                    line {
                        stroke: $gray-color;
                    }
                }
            }
        }
        .sert_wrap {
            background: #1C1A1A;
            width: 100%;
            padding: 45px 150px 140px;
            display: flex;
            flex-direction: column;
            @media  (max-width: $breakpoint-lg-min) {
                padding: 20px 50px 60px;
            }
            @media  (max-width: $breakpoint-sm-min) {
                padding: 20px 20px 60px;
                height: 75vh;
            }
            @media  (max-width: $breakpoint-xs-min) {
                padding: 20px 10px 60px;
            }
            .sert_img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                clip-path: inset(45% 38% 52% 41%);
                opacity: 0;
            }
        }
    }
}

.footer_index {
    padding: 80px 50px 30px;
    @media  (max-width: $breakpoint-xl-min) {
        padding: 80px 20px 30px;
    }
    .foot  {
        padding-top: 20px;
        border-top: 1px solid $black-color;
        display: flex;
        @media  (max-width: $breakpoint-md-min) {
            flex-direction: column;
        }
        &_data {
            margin-left: 60px;
            padding-top: 15px;
            display: flex;
            @media  (max-width: $breakpoint-xxl-min) {
               margin-left: 30px;
               flex-wrap: wrap;
            }
            @media  (max-width: $breakpoint-md-min) {
                margin-left: 0;
                margin-top: 40px;
            }
            @media  (max-width: $breakpoint-sm-min) {
                // justify-content: space-between;
            }
            .cl-1 {
                margin-right: 60px;
                @media  (max-width: $breakpoint-xxl-min) {
                    margin-right: 50px;
                }
                @media  (max-width: $breakpoint-md-min) {
                    margin-bottom: 40px;
                }
                @media  (max-width: $breakpoint-sm-min) {
                    margin-right: 30px;
                }
                @media  (max-width: $breakpoint-xs-min) {
                    margin-right: 70px;
                    font-size: 14px;
                }
                
                &_mob {
                    display: none;
                    margin-right: 0;
                    @media  (max-width: $breakpoint-lg-min) {
                        display: block;
                    }
                }
                a {
                    display: block;
                    font-weight: 300;
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                .cl-1_non {
                    @media  (max-width: $breakpoint-lg-min) {
                        display: none;
                    }
                }
            }
            .cl-2 {
                font-weight: 300;
                color: $black-color;
                width: 425px;
                margin-left: 180px;
                @media  (max-width: $breakpoint-xxl-min) {
                    margin-left: 0;
                }
                @media  (max-width: $breakpoint-xl-min) {
                    width: 300px;
                }
                @media  (max-width: $breakpoint-lg-min) {
                    width: 520px;
                    margin-top: 50px;
                }
                @media  (max-width: $breakpoint-md-min) {
                    width: 100%;
                }
                @media  (max-width: $breakpoint-md-min) {
                    font-size: 14px;
                    margin-top: 40px;
                }
                input {
                    margin-top: 35px;
                    font-size: 18px;
                    background: transparent;
                    padding-bottom: 5px;
                    border: none;
                    border-bottom: 1px solid $black-color;
                    width: 100%;
                    outline: none;
                    @media  (max-width: $breakpoint-xs-min) {
                        font-size: 14px;
                    }
                    
                }
                
            }
        }
    }
}






