// mini_catalog================
.mini_catalog {
    font-family: 'Monterchi';
    // display: flex;
    // justify-content: center;
    // align-items: center;
    
}

.mini_catalog-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 50%));
    width: 100%;
    // gap: 30px;
    
    .item {
        // padding: 20px;
        border: 1px solid #000;
        height: 400px;
        position: relative;
        
        &:nth-child(1) {
            border-bottom: 1px solid #fff;
            border-right: 1px solid #fff;
        }
        &:nth-child(4) {
            border-top: 1px solid #fff;
            border-left: 1px solid #fff;
        }
        .overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            background: #000;
            opacity: .3;
            transform: scale(.9);
            z-index: 10;
            transition: .2s;
        }
        &:hover .overlay{
            opacity: 0;
            transition: .2s;
        }
        img {
            width: 100%;
            height: 100%;
            transform: scale(.9);
        }
        .descr {
            display: flex;
            align-items: center;
            position: absolute;
            top: 40px;
            left: 50px;
            margin-left: auto;
            width: 90%;
            text-align: start;
            z-index: 10;
            // background: #000;
            .name {
                font-size: 24px;
                text-transform: uppercase;
                margin-right: 200px;
                width: 100%;
                margin-left: auto;
                color: #fff;
            }
            
        }
        button {
            z-index: 10;
            position: absolute;
            bottom: 40px;
            right: 40px;
            background: transparent;
            border: none;
            outline: none;
            display: flex;
            align-items: center;
            // margin-right: 20px;
            // margin-bottom: 20px;
            cursor: pointer;
            span {
                text-transform: uppercase;
                font-size: 28px;
                margin-right: 16px;
                font-family: 'Monterchi';
                color: #fff;
            }
            div {
                width: 80px;
                height: 80px;
                background: #ff431d;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                @media  (max-width: $breakpoint-sm-min) {
                    width: 50px;
                    height: 50px;
                }
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        

    }
}