//variables

$secondary-color: #FF3A10;
$white-color: #ffffff;
$black-color: #1C1A1A;

//mixins
@mixin list-null {
    list-style: none;
    margin: 0;
    padding: 0;
}

// font 
@font-face {
    font-family: 'Jost'; /* Имя шрифта */
    src: url(/fonts/Jost-300-Light.otf); /* Путь к файлу со шрифтом */
}
// font 
@font-face {
    font-family: 'Monterchi'; /* Имя шрифта */
    src: url(/fonts/Monterchi-Light.ttf); /* Путь к файлу со шрифтом */
}
    


//modules
@import 'scss/media.scss';
@import 'scss/header.scss';
@import 'scss/catalog.scss';
@import 'scss/product.scss';

@import 'scss/delivery.scss';
@import 'scss/sert.scss';
@import 'scss/login.scss';
@import 'scss/about.scss';
@import 'scss/info.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    // color: #fff;
}
body {
    // width: 100vw;
    font-family: 'Jost';
}
.catalog_root {
    width: 100%;
    height: 100%;
    position: relative;
    background: $white-color;
    
}
#canvas {
    width: 100%;
    height: 100%;
    position: fixed;
}
.br {
    margin-bottom: 20px;
}

.video_wrapper {
    width: 100%;
    height: 150vh;
    padding: 0 30px 50px;
    @media  (max-width: $breakpoint-lg-min) {
        height: 70vh;
    }
    @media  (max-width: $breakpoint-sm-min) {
        padding: 0 15px 30px;
    }
    
    video {
        width: 100%;
        height: 100%;
        border-radius: 30px;
        object-fit: cover;
    }
}

// ====keyframes
@keyframes lines {
    0% {
        width: 0%;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}

.subscribe_wrapper {
    display: flex;
    background: #fff;
    // align-items: center;
    width: 100%;
    padding: 100px 0 40px;
    .left {
        width: 50%;
        margin-top: 100px;
        padding: 0 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &_circle {
            // background: rgb(255, 247, 243);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            width: 400px;
            height: 400px;
            margin-bottom: 40px;
            position: relative;
            .abs_circle {
                position: absolute;
                width: 400px;
                height: 400px;
                background: #000;
                opacity: .5;
                clip-path: circle(50%);

            }
            
        }
        .img_wrap {
            width: 200px;
            
            img {
                width: 100%;
            }
        }
        .title {
            font-size: 42px;
            // font-weight: bold;
            
            color: #000;
        }
        .descr {
            font-size: 18px;
            p {
                margin-bottom: 15px;
            }
        }
    }
    .right {
        width: 50%;
        overflow: hidden;
        padding-right: 60px;
        img {
            width: 100%;
            height: 140vh;
            object-fit: cover;
        }
        .button {
            width: 100%;
            height: 80px;
            padding: 0 40px;
            font-size: 22px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #FF3C00;
            cursor: pointer;
            transition: .2s;
            &:hover {
                background: darken(#FF3C00, 5%);
                transition: .2s;
            }
            span:nth-child(2) {
                font-size: 36px;
            }
        }
    }
}

// body {
//     background: rgb(255, 249, 239);
// }


.root-cont {
    background: #fff;
    height: 100%;
}
.popular {
    margin-top: 120px;
    padding: 0 60px 500px;
    background: #fff;
    &_text {
        display: flex;
        justify-content: space-around;
        margin-bottom: 120px;
        .line {
            display: flex;
            div {
                margin-right: 60px;
                border-bottom: 1px solid #000;
                
            }
            .springtwotwo {
                background: #FF3C00;
                padding: 0 5px;
                border: none;
            }
        }
    }
    &_wrapper {
        display: flex;
        justify-content: center;
        .item {
            width: 20vw;
            font-size: 16px;
            margin: 0 15px;
            text-transform: uppercase;
            cursor: pointer;
            &:nth-child(even) {
                transform: translateY(200px);
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.home_about {
    min-height: 150vh;
    padding: 100px 0 200px;
    display: flex;
    position: relative;
    background: #000;
    &-title {
        font-family: "Monterchi";
        font-size: 64px;
        position: absolute;
        transform: translate(220px,40px);
        text-transform: uppercase;
        mix-blend-mode: difference;
        color: #fff;
        z-index: 10;
        .tt {
            transform: translateX(-100px);
        }
        .more {
            font-family: 'Jost';
            font-size: 36px;
            margin-left: 300px;
            margin-top: 10px;
            text-transform: lowercase;
            display: flex;
            align-items: center;
            
            cursor: pointer;
            span {
                text-transform: uppercase;
                font-size: 18px;
                margin-right: 16px;
                @media  (max-width: $breakpoint-md-min) {
                    font-size: 12px;
                }
            }
            div {
                width: 80px;
                height: 80px;
                background: #1C1A1A;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                @media  (max-width: $breakpoint-sm-min) {
                    width: 50px;
                    height: 50px;
                }
            }
            
        }
    }
    .circle_under {
        position: absolute;
        right: 50px;
        top: 50px;
        z-index: 15;
        path {
            fill: #FF3C00;
        }
    }
    .cicle_bg {
        position: absolute;
        // width: 100%;
        // height: 100%;
        width: 500px;
        height: 500px;
        background: #fff;
        z-index: 2;
        clip-path: circle(50% at 50% 50%);
        
    }   
    .img_wrapper {
        display: flex;
        z-index: 10;
        margin-left: auto;
        .img_one {
            height: 850px;
            margin-right: 100px;
            width: 500px;
            overflow: hidden;
            img {
                width: 100%;
                height: 120%;
                object-fit: cover;
            }
        }
        .img_two {
            height: 430px;
            width: 270px;
            margin-top: auto;
            z-index: 100;
            overflow: hidden;
            transform: translate(100px, -50px);
            img {
                width: 100%;
                height: 120%;
                object-fit: cover;
            }
        }
    }
}